.page--login {

  $color: $white;
  $gradient: $global-lift-gradient;
  $component-padding: 60px 40px;
  $fb-color: #4267b2;
  $g-color: #757575;

  .fb-btn {
    background: $fb-color;
    color: $white;
    transition: $default-transition;

    &:hover, &:focus {
      background: darken($fb-color, 5);
      transition: $default-transition;
    }
  }

  .g-btn {
    background: $white;
    color: $g-color;
    transition: $default-transition;

    &:hover, &:focus {
      background: darken($white, 5);
      transition: $default-transition;
    }
  }

  @extend .FullWidthHeight;
  z-index: 2;
  text-align: center;
  background-image: $gradient;
  padding: $default-padding;
  box-sizing: border-box;
  display: table;

  .login-container {
    display: table-cell;
    vertical-align: middle;

    .slogan {
      color: $white;
      margin: 40px 0;
    }

    .login-type-buttons {

      .btn {
        display: block;
        margin: 0 auto 15px auto;
        width: 100%;
        max-width: 275px;

        &.fb-btn {
          @extend .fb-btn;
        }

        &.g-btn {
          @extend .g-btn;
        }

        &.social-btn {
          position: relative;

          img {
            position: absolute;
            left:20px;
            top: 12px;
            width: 24px;
          }

          span {
            padding-left:30px;
          }
        }
      }

      .sign-in-button {
        margin-top: 30px;
        color: $g-color;
        font-size: 14px;
      }
    }
  }

  input {
    padding: 12px 20px 8px;
  }
}