.page--register {
  background: $global-lift-gradient;
  height: 100%;
  width: 100%;
  text-align: center;
  display: table;

  .inner {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    colors:$white;

    .slogan {
      color: $white;
      margin: 12px 0;
    }

    .register-form {

      .form-fields {
        text-align: left;
        max-width: 465px;
        margin: 0 auto;

        label, input {
          display: block;
          clear: both;
        }

        label {
          color: $white;

          &:last-child {
            input {
              margin: 5px 0 0 0;
            }
          }
        }

        input {
          margin: 5px 0 14px 0;
        }
      }

      .anonymity-check {
        display: block;
        clear: both;

        input {
          display: inline-block;
          margin: 5px 0 8px 0;
        }

        span {
          display: inline-block;
          position: relative;
          top: -2px;
          margin: 0 0 0 5px;
        }

        small {
          display: block;
          margin: 2px 0 0 0;
        }
      }
    }
  }
}