.like {
  display: flex;
  align-items: center;
  padding: 0 10px;

  .like-count {
    margin-left: 5px;
  }


  .like-button {
    border: 0;
    background: rgba(255, 255, 255, 0);
    width: 40px;

    &.liked {
        
      .thumb-icon {
        
        .thumb-inner {
          fill: $white;
          stroke-width: 0;
          transition: fill $animation-snap .3s;
        }
      }
    }
  }
  
  .thumb-icon {
    width: 28px;
    height: 29px;
    
    .thumb-inner {
        fill: transparent;
        stroke: $white;
        transition: fill $animation-snap .1s;
        
      }
  }


  &.dark {
    
    .like-button {
      
      .thumb-inner {
        fill: transparent;
        stroke: $dark;
        transition: fill $animation-snap .1s;
        
      }
      
      &.liked {
        
        .thumb-inner {
          stroke-width: 0;
          fill: $dark;
          transition: fill $animation-snap .3s;
        }
      }
    }
  }
}
