.page--voorjou {

  $vj-margin: 105px;

  @extend %absolute-view;

  .not-found {
    text-align: center;
  }

  header {
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;

    .slideDown {
      position: fixed;
    }

    .feed-nav {
      padding: 10px;
      margin: 7px 0;
      text-align: center;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;

      .title {
        font-weight: bold;
        margin: 5px 0;
        color: $dark;
      }

      .description {
        margin: 0;
        color: $pantzer;
      }
    }
  }

  .loading-results {
    margin-top: $vj-margin;
  }

  .card-group {
    margin-top: $vj-margin;
    position: relative;
    z-index: 1;
  }

  .slide-up-item {
    display: inline-block;
  }

  .slide-up-enter-active, .slide-up-leave-active {
    transition: all 1s;
  }

  .slide-up-enter, .slide-up-leave-to {
    opacity: 0;
    transform: translateY(50px);
  }
}
