.page--profile {

  $default-button: $clay;
  $save-button: $blue;

  @extend %absolute-view;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 0 1em;
    width: 100%;
    z-index: 1;
    background: $orange;
    height: 125px;

    span {
      padding-top: 2px;
    }

    .edit {
      width: auto;
      color: $white;
      font-weight: 500;
      padding: 14px 0px 14px 14px;
      border: 0;
      padding-right: 0;
      background: rgba(255, 255, 255, 0);
      position: relative;
      display: flex;
      align-items: center;
      font-size: 12px;

      .edit-icon {
        width: 20px;
        margin-left: 10px;
      }
    }
  }
  .profile-content {
    padding: 0 1em;

    .profile-content-inner {
      position: relative;
      z-index: 2;
      padding: 20px;
      width: 100%;
      border-radius: $default-radius;
      margin: -30px auto 20px auto;
      background: $white;
      box-shadow: $box-shadow;

      .profile-name {
        margin: -55px 0 0 0;
        text-align: center;
      }

      .bio {
        margin-bottom: 20px;
      }

      .follow {
        text-align: center;
        margin-bottom: 25px;

        .btn-follow {
          padding: $small-btn-padding;
          box-shadow: $light-box-shadow;

          img {
            display: inline-block;
            width: 10px;
            margin: 0 5px 0 0;
            position: relative;
            top: 1px;
          }
        }
      }

      .profile-followers {
        margin: 10px 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        .follows, .followers {
          list-style: none;
          width: 50%;
          padding: 10px;
        }
      }

      .btn-edit-content {
        margin: 0 auto;
        background: $default-button;
        color: $white;
      }

      .change-section {
        text-align: center;
      }

      .save-changes {
        background: $save-button;
        color: $white;
      }

      .signout-section {
        text-align: center;
        margin: 20px 0 0 0;

        .btn-sign-out {
          background: $blue;
          color: $white;
        }
      }
    }
  }
}

