.page--home {
  @extend %absolute-view;

  .not-found {
    text-align: center;
  }

  header {
    width: 100%;
    display: block;
    top:0;
    z-index: 5;

    .slideDown {
      position: fixed;
    }

    .feed-nav {

      text-align: center;

       p {
         font-style: italic;
         font-size: $text-font-size - 2px;
         color: #5e6068;
         margin: 0;
         padding: 15px;
       }
    }
  }

  .slide-up-item {
    display: inline-block;
  }

  .slide-up-enter-active, .slide-up-leave-active {
    transition: all 1s;
  }

  .slide-up-enter, .slide-up-leave-to {
    opacity: 0;
    transform: translateY(50px);
  }
}