.avatar {
    -webkitborder-radius: 50%;
    border-radius: 50%;
    margin: 0 15px 0 0;
    float: left;
    border: 1px solid $white;
}
.card {
  $padding: 15px 20px;
  $margin: 0 5px 20px 5px;
  $radius: $default-radius;

  background: $blue;
  color: $white;
  padding: $padding;
  margin: $margin;
  border-radius: $radius;
  font-family: $title-font;

  .title {
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
    .cat_button {
        display: inline-block;
        text-decoration: none;
        padding: 7px 10px 5px;
        font-size: .83rem;
    }
    header {
        float: left;
        width: 100%;
        clear: both;

        .inner-left {
            float: left;
<<<<<<< HEAD
            #user_details {
=======

            span {
                float: left;
            }
            .avatar {
                border-radius: 50%;
>>>>>>> 73035a5db2fbeed6816152c5943084bbf0b9433e
                float: left;
                width: auto;
                height: 60px;
                h4, h5 {
                    margin: 0;
                    width: 100%;
                    clear: both;
                }
                h4 {
                    padding: 11px 0 0 0;
                    font-size: 1.2rem;
                    text-transform: capitalize;
                }
            }
        }
        .inner-right {
            float: right;
        }
    }
    footer {
        text-align: center;
        img {
            padding: 0 7px 0 0;
        }
        span {
            position: relative;
            top: -3px;
            margin: 0 20px 0 0;
            &:last-child {
                margin: 0;
            }
        }
    }
  // make a class for every category name in $POST_CATEGORIES and set the correct background and color
  @each $category, $bgcolor in $POST_CATEGORIES {
    &.#{$category} {
      background: $bgcolor;

      // determine if the text should be black or white based on the lightness level of the given color
      @if lightness($bgcolor) > lightness(#ccc) {
        color: $text-dark;
      } @else {
        color: $text-light;
      }
    }
  }
}