.card {

  $padding: 15px 20px;
  $margin: 10px;
  $radius: $default-radius;

  background: $blue;
  color: $white;
  padding: $padding;
  margin: 0 $margin $margin $margin;
  border-radius: $radius;
  font-family: $title-font;

  section {
    text-align: center;

    .title {
      padding: $padding;
      text-align: center;
      display: inline-block;
      width: 100%;
      margin: 12px 0;
    }

    .audio-post {
      width: 100%;
      max-width: 420px;
      margin: 20px auto;
    }
  }

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user {
      display: flex;
      align-items: center;

      .avatar {
        @extend .avatar;
      }

      .user-details {
        margin-left: $margin;
        display: inline-block;
      }

      .u-name,
      .u-date {
        display: block;
        margin: 0;
      }

      .u-name {

        &.anonymous {
          color: $porcelain;
        }
      }
    }

    .cat-btn {
      text-decoration: none;
      padding: 7px 10px 5px;
      text-align: center;
    }
  }

  .post-details {
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-action {
      padding: 0 10px;
      display: flex;
      align-items: center;

      .comment {
        border: 0;
        background: rgba(255, 255, 255, 0);
        width: 40px;
        height: 40px;
      }

      .count {
        margin-left: 5px;
      }
    }
  }

  // make a class for every category name in $POST_CATEGORIES and set the correct background and color
  @each $category, $bgcolor in $POST_CATEGORIES {
    &.#{$category} {
      background: $bgcolor;
      // determine if the text should be black or white based on the lightness level of the given color
      @if lightness($bgcolor) > lightness(#ccc) {
        color: $text-dark;
      } @else {
        color: $white;
      }

      .cat-btn {
        color: $bgcolor;
        font-size: $text-font-size - 1px;
      }
    }
  }
}
