.card {
  $padding: 10px 20px;
  $margin: 10px 5px;
  $radius: $default-radius;

  background: $blue;
  color: $white;
  padding: $padding;
  margin: $margin;
  border-radius: $radius;
  font-family: $title-font;

  .title {
    font-size: 1.2em;
    text-align: center;
  }
    header {
        float: left;
        width: 100%;
        clear: both;
        .inner-left {
            float: left;
            span {
                float: left;
            }
            .avatar {
                -webkitborder-radius: 50%;
                border-radius: 50%;
                float: left;
            }
        }
        .inner-right {
            float: right;
        }
    }
  // make a class for every category name in $POST_CATEGORIES and set the correct background and color
  @each $category, $bgcolor in $POST_CATEGORIES {
    &.#{$category} {
      background: $bgcolor;

      // determine if the text should be black or white based on the lightness level of the given color
      @if lightness($bgcolor) > lightness(#ccc) {
        color: $text-dark;
      } @else {
        color: $text-light;
      }
    }
  }
}