.page--post {
  @extend %absolute-view;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 1em;
  z-index: 2;
  background-color: $porcelain;

  &:before {
    @extend %absolute-view;
    content: '';
    height: 40%;
    background: $yellow;
    z-index: -1;
  }
  
   nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     
     .report{
       width: 45px;
       border: 0px;
       background: rgba(255, 255, 255, 0);
     }
  }

  .post {
    background: $white;
    padding: 20px;
    margin: 60px auto 0 auto;
    text-align: center;
    box-shadow: $box-shadow;
    border-radius: $default-radius;
  }

  .user {
    display: flex;
    flex-direction: row;
    width: 100%;
    clear: both;
    margin: -50px auto 0 auto;

    h3,
    span {
      padding-top: 7px;
      color: $white;
    }

    h3 {
      margin: 0;
      text-align: left;
      text-transform: capitalize;
    }

    span {
      order: 2;
      margin-left: auto;
    }
  }

  .title {
    font-size: 1.4em;
  }
  
  footer {
    display: flex;
    justify-content: space-around;
    
    .like {
      border: 0px;
      background: rgba(255, 255, 255, 0);
      width: 50px;
    }
    
    .comment {
      border: 0px;
      background: rgba(255, 255, 255, 0);
      width: 50px;
    }
  }
}