.page--post {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: $max-app-width;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 0 1em;
  z-index: 2;
  background-color: $porcelain;

  &:before {
    @extend %absolute-view;
    content: '';
    height: 40%;
    background: $yellow;
    z-index: -1;
  }
  
   nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     
     .report{
       width: 40px;
       border: 0;
       background: rgba(255, 255, 255, 0);
     }
  }

  .post {
    background: $white;
    padding: 15px;
    margin: 60px auto 0 auto;
    text-align: center;
    box-shadow: $box-shadow;
    border-radius: $default-radius;
  }

  .user {
    display: flex;
    flex-direction: row;
    width: 100%;
    clear: both;
    margin: -45px auto 0 auto;

    &.anonymous {

      .username {
        color: $porcelain;
      }
    }

    h3 {
      padding: 7px 0 0 7px;
      color: $white;
    }

    h3 {
      margin: 0;
      text-align: left;
      text-transform: capitalize;
    }

    .created-on {
      order: 2;
      padding-top: 11px;
      margin-left: auto;
      font-size: 12px;
      color: $white;
    }
  }

  .title {
    font-size: 1.4em;
  }

  .post-details {
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-action {
      padding: 0 10px;
      display: flex;
      align-items: center;

      .like{
        border: 0px;
        background: rgba(255, 255, 255, 0);
        width: 40px;
      }

      .comment{
        border: 0px;
        background: rgba(255, 255, 255, 0);
        width: 40px;
      }

      .count {
        margin-left: 5px;
      }
    }
  }
}

.slide-right-enter-active, .slide-right-leave-active {
  transition: transform .4s, opacity .5s;
}

.slide-right-enter, .slide-right-leave-to {
  opacity: 0;
  transform: translateX(50%);
}
