.modal {
  @extend %absolute-view;
  z-index: 999;

  .modal-mask {
    @extend %absolute-view;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
  }

  .modal-container {
    width: 80%;
    margin: -50px 0 0 0;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;

    @media only screen and (max-width: $sm) {
      max-width: 90%;
    }

    .modal-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .modal-content {
      margin-bottom: 30px;
    }

    .btn-create {
      @extend .btn-has-icon;
      margin-left: 20px;
      background-image: url(./checkmark-lift.svg);
    }

    .btn-cancel {
      @extend .btn-has-icon;
      margin-bottom: 10px;
      background-image: url(./cancel-lift.svg);
    }
  }
}


.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  transform: scale(1.1);
}