.page--intro {
  height: 100%;
  width: 100%;
  color: $black;

  .swiper-container {
    position: relative;
    height: 100%;
    width: 100%;

    .swiper-slide {
      color: $text-dark
    }
  }
}