.page--search {
  padding: 30px 20px 10px 20px;

  $gradient: $global-lift-gradient;
  $cat-height: 65px;
  $search-container: 465px;

  height: 100%;
  background-image: $gradient;
  //padding: $default-padding;
  box-sizing: border-box;

  .search-container {
    text-align: center;

    header {
      width: 100%;

      .header-inner {

        .search-title {
          color: $white;
          margin: 10px 0 20px 0;
        }

        .search-icon {
          width: 35px;
        }

        .search-wrapper {
          position: relative;
          max-width: $search-container;
          margin: 0 auto;
          box-shadow: $light-box-shadow;

          .search-bar {
            margin: 0;
            max-width: none;
          }

          .search-submit {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            color: $white;
            background: $blue;
            margin: 0;
            padding: 10px 15px;
            border-bottom-right-radius: $default-radius;
            border-top-right-radius: $default-radius;
            border: 0;
          }
        }
      }
    }

    section {
      $spacing: 6px;

      margin: 0 auto;
      width: 100%;
      max-width: $search-container;

      ul {
        padding: 0;
        width: 100%;
        position: relative;

        li {
          list-style: none;
          padding: $spacing;
          box-sizing: border-box;
          display: inline-block;
          width: 50%;

          // make a class for every category name in $POST_CATEGORIES and set the correct background and color
          @each $category, $bgcolor in $POST_CATEGORIES {
            &.#{$category} {
              a {
                color: $bgcolor;
                background-image: url('./categories/#{$category}-lift.svg');
              }
            }
          }

          a {
            height: $cat-height;
            text-align: center;
            border-radius: $default-radius;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 5px;
            box-shadow: $light-box-shadow;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center 8px;
            background-size: 30px 30px;

            span {
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
}
