.page--search {

  $gradient: $global-lift-gradient;
  $cat-height: 65px;
  $search-container: 465px;

  height: 100%;
  background-image: $gradient;
  //padding: $default-padding;
  box-sizing: border-box;

  .search-container {
    text-align: center;

    header {
      width: 100%;

      .header-inner {
        padding: 30px 20px 10px 20px;

        .search-title {
          color: $white;
          margin: 10px 0 20px 0;
        }

        .search-icon {
          width: 35px;
        }

        .search-wrapper {
          position: relative;
          max-width: $search-container;
          margin: 0 auto;
          box-shadow: $light-box-shadow;

          .search-bar {
            margin: 0;
            max-width: none;
          }

          .search-submit {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            color: $white;
            background: $blue;
            margin: 0;
            padding: 10px 15px;
            border-bottom-right-radius: $default-radius;
            border-top-right-radius: $default-radius;
            border: 0;
          }
        }
      }
    }

    section {
      padding: $default-padding;
      margin: 0;
      padding: 0;

      ul {
        margin: 0 auto;
        padding: $default-padding;

        li {
          list-style: none;

          &:nth-child(2n) {
            a {
              margin: 0 0 12px 0;
            }
          }

          // make a class for every category name in $POST_CATEGORIES and set the correct background and color
          @each $category, $bgcolor in $POST_CATEGORIES {
            &.#{$category} {
              a {
                color: $bgcolor;
                background-image: url('./categories/#{$category}-lift.svg');
              }
            }
          }

          a {
            width: 48%;
            float: left;
            margin: 0 12px 12px 0;
            height: $cat-height;
            text-align: center;
            border-radius: $default-radius;
            text-decoration: none;
            display: table;
            padding: 5px;
            box-shadow: $light-box-shadow;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center 8px;
            background-size: 30px 30px;

            span {
              display: table-cell;
              vertical-align: bottom;
            }
          }
        }
      }

      .no-results {
        color: $white;

        small {
          display: block;
        }

        .no-results-text {
          margin: 10px 0 0 0;
        }
         .btn-create-post {
           display: inline-block;
           position: relative;
           clear: both;
           margin: 15px auto;
           width: auto;
           text-decoration: none;
         }
      }
    }
  }
}
