.page--login {

  $color: $white;
  $gradient: $global-lift-gradient;
  $component-padding: 60px 40px;

  @extend %absolute-view;
  z-index: 1;
  text-align: center;
  background-image: $gradient;
  box-sizing: border-box;
  display: table;


  .login-container {
    display: table-cell;
    vertical-align: middle;

    .slogan {
      color: $white;
      margin: 40px 0;
    }
    .login-email-fields {

      input {
        display: block;
        clear: both;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .login-options {
      position: absolute;
      padding: $default-padding;
      bottom: 5px;
      left: 0;
      width: 100%;

      a {
        text-decoration: none;
        color: $white;

        &:nth-child(1) {
          float: left;
        }
        &:nth-child(2) {
          float: right;
        }
      }
    }
  }
}
