* {
    box-sizing: border-box;
}

html, body {
  font-size: 100%;
  background-color: $porcelain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  font-family: $text-font;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: $title-font;
  font-weight: 500;
}

// Heading sizes
h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .8rem;
}

p, a {
  font-size: $text-font-size;
}

.block {
  padding: $default-padding;
  border-radius: $default-radius;
  background: $white;
}

#app {
  max-width: $max-app-width;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  font-size: $text-font-size;

  > .view {
    overflow-y: scroll;
    position: relative;
    height: calc(100% - #{$nav-height});
    transition: .2s $animation-snap;
  }

  &.input-focussed {

    > .view {
      height: 100%;
    }

    > .navigation {
      transform: translateY($nav-height);
      transition: .2s $animation-snap;
    }
  }
}

.btn {
  position: relative;
  font-family: $primary-font;
  background: $white;
  color: $primary-color;
  padding: $large-btn-padding;
  border-radius: $default-radius;
  font-size: $text-font-size;
  border: 0;
  font-weight: 500;
}

.btn.medium {
  padding: $medium-btn-padding;
}

.btn-orange {
  background: $orange;
  color: $white;
}

.btn-green {
  background: $green;
  color: $white;
}
.btn-grey {
  background: $gray;
  color: $white;
}

.btn-back {
  background: transparent;
  color: $white;
}

// Button icons
.btn-has-icon {
  background-repeat: no-repeat;
  background-position: 92% center;
  background-size: 16px 16px;
}

.btn.has_icon {
  padding-right: 40px;

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 33px;
    height: 50%;
    width: 1px;
    background: rgba(255, 255, 255, .5);
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Forms and inputs
// ---------------------------------------------------------------------------------------------------------------------

$form-margin-bottom: 15px;

$form-bg: $white;
$form-color: $dark;
$form-border-color: transparent;
$form-border-color-active: $blue;
$form-border-size: 3px;
$form-radius: $default-radius;
$form-padding: $default-padding;
$form-max-width: 465px;
$form-font-size: $text-font-size;

input {
  font-size: $form-font-size;
}

textarea,
input[type=text],
select {
  background: $form-bg;
  color: $form-color;
  border-radius: $form-radius;
  border: 0;
  border-bottom: $form-border-size solid $form-border-color;
  padding: $form-padding;
  width: 100%;
  max-width: $form-max-width;
  margin-bottom: $form-margin-bottom;
  resize: none;

  &:focus {
    outline: 0;
    border-bottom: $form-border-size solid $form-border-color-active;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

textarea {
  min-height: $form-max-width / 3;
}
