html, body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  font-family: $text-font;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: $title-font;
}

#app {

  $nav-height: 50px;

  max-width: $max-app-width;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  > .view {
    overflow-y: scroll;
    height: calc(100% - #{$nav-height});
  }

  > .navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $nav-height;


    .router-link-active {
      color: red;
    }
  }
}

.button {
  font-family: $primary-font;
  background: #fff;
  color: $primary-color;
  border-radius: 4px;
  padding: 17px 25px 15px;
  border: 0;
  font-weight: 500;
}
