// ---------------------------------------------------------------------------------------------------------------------
// Clearfix
// How to use:
// Declare '@extend %clearfix;' inside the selector's declaration block, and you're good to go.
// ---------------------------------------------------------------------------------------------------------------------
%clearfix {
  &::after {
    content: '';
    width: 0;
    height: 0;
    display: table;
    clear: both;
  }
}

/// Makes an element visually hidden, but still accessible to keyboards and assistive devices.
/// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility Hiding Content for Accessibility
@mixin element-invisible {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

// ---------------------------------------------------------------------------------------------------------------------
// Adds a downward-facing triangle as a background image to an element. The image is formatted as an SVG, making it
// easy to change the color. Because Internet Explorer doesn't support encoded SVGs as background images, a PNG
// fallback is also included.
// There are two PNG fallbacks: a black triangle and a white triangle. The one used depends on the lightness of the
// input color.
//
// @param {Color} $color [$black] - Color to use for the triangle.
// ---------------------------------------------------------------------------------------------------------------------
@mixin background-triangle($color: $black) {
  $rgb: 'rgb%28#{round(red($color))}, #{round(green($color))}, #{round(blue($color))}%29';

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: #{$rgb}'></polygon></svg>");

  @media screen and (min-width:0\0) {
    @if lightness($color) < 60% {
      // White triangle
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==');
    }
    @else {
      // Black triangle
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMBJREFUeNrEllsOhCAMRVszC9IlzU7KCmVHTJsoMWYMUtpyv9BgbuXQB5ZSdgBYYY4ycgBivk8KYFsQMfMiTTBP4o3nUzCKzOabLJbLy2/g31evGkAginR4/ZegKH5qX3bJCscA3t0x3kgO5tQFyhhFf50xRqFLbyMUNJQzgyjGS/wgCpvKqkRBpuWrE4V9d+1E4dPUXqIg107SQOE/2DRQxMwTDygIInVDET9T3lCoj/6j/VCmGjZOl2lKpZ8AAwDQP7zIimDGFQAAAABJRU5ErkJggg==');
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Truncate the text (adds '...' behind the text and cut it to make it fit the container)
// ---------------------------------------------------------------------------------------------------------------------
@mixin truncate($width: 100%, $display: block) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $width;
  display: $display;
}

// ---------------------------------------------------------------------------------------------------------------------
// use @extend %absolute-view; to make your component / view absolute
// ---------------------------------------------------------------------------------------------------------------------
%absolute-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - #{$nav-height});
}