// ---------------------------------------------------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------------------------------------------------
$white: #fff;
$porcelain: #EDF0F2;
$mystic: #DBE3E8;
$gray: #BBC8D0;
$clay: #A7B7C2;
$regent: #849199;
$pantzer: #5E6068;
$comet: #373940;
$dark: #202227;
$brown: #746c54;
$lightbrown: #9A8F70;
$black: #000;

$red: #F03B3B;
$orange-red: #FF5537;
$pink: #ff4162;
$green: #4BC54F;
$purple: #c077cd;
$blue: #4A90E2;
$lightblue: #0dbed3;
$teal: #4dabab;
$gold: #eac45e;
$yellow: #FFC146;

$orange: #FF7809;
$orange_l: #ff942d;
$orange_d: #e76c00;
$orange-pure: #FF5A0B;

$primary-color: $orange;

$global-lift-gradient: linear-gradient(-180deg, #FF7537 0%, #FF4569 97%);

// Category colors
// All the Lift categories, assigned to color variables in a map
$POST_CATEGORIES: (
        gezondheid: $pink,
        liefde: $red,
        werk: $blue,
        financiën: $teal,
        dagelijks: $pantzer,
        online: $lightblue,
        geloof: $gold,
        mode: $lightbrown
);


// Element specific colors
$text-dark: $dark;
$text-light: $porcelain;

// ---------------------------------------------------------------------------------------------------------------------
// Fonts
// ---------------------------------------------------------------------------------------------------------------------
$primary-font: '#{$primary-font-name}', 'Source Sans Pro', 'Arial', sans-serif;
$secondary-font: 'Source Sans Pro', 'Arial', sans-serif;

$title-font: $primary-font;
$text-font: $secondary-font;
$topic-title-font: $primary-font;

$text-font-size: 14px;
$header-font-weight: 500;

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: $title-font;
  font-weight: $header-font-weight;
  &:first-letter {
    text-transform: capitalize;
  }
}

// Breakpoints

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;

$d-font-sizes: (
        null : $text-font-size,
        $sm : 16px,
        $md : 18px
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    } @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

// Heading sizes
$h1-font-sizes: (
        null : 26px,
        $sm : 29px,
        $md : 31px
);

$h2-font-sizes: (
        null : 22px,
        $sm : 25px,
        $md : 27px
);

$h3-font-sizes: (
        null : 18px,
        $sm : 21px,
        $md : 23px
);

$h4-font-sizes: (
        null : 14px,
        $sm : 17px,
        $md : 19px
);

$h5-font-sizes: (
        null : 11px,
        $sm : 14px,
        $md : 16px
);

$h6-font-sizes: (
        null : 7px,
        $sm : 10px,
        $md : 12px
);

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

h5 {
  @include font-size($h5-font-sizes);
}

h6 {
  @include font-size($h6-font-sizes);
}

p, ul, li, a {
  @include font-size($d-font-sizes);
}

// ---------------------------------------------------------------------------------------------------------------------
// Block settings
// ---------------------------------------------------------------------------------------------------------------------
$default-radius: 4px; // Default radius for buttons, posts etc.
$default-padding: 10px 20px; // Default padding for multiple pages.
$box-shadow: 0 0 20px 0 rgba(163, 163, 163, 0.24); // Default box shadow
$light-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
$top-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10); // Default top shadow

// ---------------------------------------------------------------------------------------------------------------------
// Buttons
// ---------------------------------------------------------------------------------------------------------------------
$large-btn-padding: 17px 25px 15px;
$medium-btn-padding: 12px 20px 10px;

// ---------------------------------------------------------------------------------------------------------------------
// Animations
// ---------------------------------------------------------------------------------------------------------------------
$animation-snap: cubic-bezier(1, .005, .240, 1);
$default-transition: ease 200ms all;

// ---------------------------------------------------------------------------------------------------------------------
// App component sizes
// ---------------------------------------------------------------------------------------------------------------------
$max-app-width: 768px;
$nav-height: 50px;