// ---------------------------------------------------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------------------------------------------------
$white:       #fff;
$porcelain:   #EDF0F2;
$mystic:      #DBE3E8;
$gray:        #BBC8D0;
$clay:        #A7B7C2;
$pantzer:     #5E6068;
$comet:       #373940;
$dark:        #202227;
$black:       #000;

$red:         #EF2626;
$green:       #4BC54F;
$blue:        #4A90E2;
$yellow:      #FFC146;

$orange:      #FF7809;
$orange_l:    #ff942d;
$orange_d:    #e76c00;

$primary-color: $orange;

// Category colors
// All the Lift categories, assigned to color variables in a map
$POST_CATEGORIES: (
        gezondheid:       $green,
        werk:             $blue,
        financiën:        $yellow,
        dagelijks-leven:  $primary-color
);

// Element specific colors
$text-dark: $dark;
$text-light: $porcelain;


// ---------------------------------------------------------------------------------------------------------------------
// Fonts
// ---------------------------------------------------------------------------------------------------------------------
$primary-font:      '#{$primary-font-name}', 'Source Sans Pro', 'Arial', sans-serif;
$secondary-font:    'Source Sans Pro', 'Arial', sans-serif;

$title-font:        $primary-font;
$text-font:         $secondary-font;
$topic-title-font:  $primary-font;

$text-font-size:    17px;


// ---------------------------------------------------------------------------------------------------------------------
// Block settings
// ---------------------------------------------------------------------------------------------------------------------
$default-radius:    4px; // Default radius for buttons, posts etc.
$default-padding:   10px 20px; // Default padding for multiple pages.
$box-shadow:        0 0 20px 0 rgba(163,163,163,0.24); // Default box shadow


// ---------------------------------------------------------------------------------------------------------------------
// Buttons
// ---------------------------------------------------------------------------------------------------------------------
$large-btn-padding: 17px 25px 15px;
$medium-btn-padding: 12px 20px 10px;


// ---------------------------------------------------------------------------------------------------------------------
// Animations
// ---------------------------------------------------------------------------------------------------------------------
$animation-snap: cubic-bezier(1, .005, .240, 1);


// ---------------------------------------------------------------------------------------------------------------------
// Sizes
// ---------------------------------------------------------------------------------------------------------------------
$max-app-width: 768px;