.page--create-post {

  .btn.create-voice-post {
    @extend .btn-has-icon;
    background-image: url(./microphone-lift.svg);
    padding-right: 60px;
    background-size: 30px 30px;

    &:after {
      right: 60px;
    }
  }

  .btn.create-text-post {
    @extend .btn-has-icon;
    background-image: url(./write-lift.svg);
    padding-right: 60px;
    background-size: 30px 30px;

    &:after {
      right: 60px;
    }
  }

  .btn-create {
    @extend .btn-has-icon;
    background-image: url(./checkmark-lift.svg);
  }

  .btn-cancel {
    @extend .btn-has-icon;
    background-image: url(./cancel-lift.svg);
  }

  @extend %absolute-view;
  color: $white;

  .create-type-picker {
    @extend %absolute-view;
    background-color: $primary-color;
    padding: $default-padding;
    margin: 0 auto;
    text-align: center;
    padding-top: 30% !important;

    .btn {
      position: relative;
      color: #4990E2;
      font-weight: normal;
      display: block;
      margin: 0 auto 20px;

      &:last-child {
        margin: 0 auto;
      }

      img {
        position: relative;
        top: 3px;
        left: 5px;
      }
    }
  }
  // -------------------------------------------------------------------------------------------------------------------
  // Create post container
  // -------------------------------------------------------------------------------------------------------------------
  .create-text-post,
  .create-voice-post {
    color: $dark;
    $inner-overflow-amount: 30px;

    header {
      background: $orange;
      padding: 50px 20px 10px 20px;
      color: $white;
      text-align: center;
      nav {
        display: flex;
        z-index: 999;
        flex-direction: row;
        position: absolute;
        width: 100%;
        left: 0;
        padding: 15px 20px;
        top: 0;
        .info-icon {
          order: 2;
          margin-left: auto;
        }
      }
      .header-icon {
        width: 36px;
        height: auto;
        position: relative;
        top: 10px;
      }

      .title {
        font-weight: bold;
      }

      h2 {
        text-align: center;
      }
    }
    .inner {
      background-color: transparent;
      padding: $default-padding;
      margin-top: -$inner-overflow-amount;
      text-align: center;

      #body {
        transition: .2s $animation-snap;
        will-change: margin;

        &.focussed {
          margin-top: $inner-overflow-amount;
          transition: .2s $animation-snap;
          background: $porcelain;
          min-height: 220px;
        }
      }

      .recording-controls {
        background: transparent;
        padding: 0 15px;

        img {
          width: 20px;
        }
      }

      .anonymity-container {
        display: block;
        width: 100%;
        clear: both;
        text-align: left;
        color: $dark;

        small {
          display: block;
          margin: 0 0 25px;
        }
      }
    }
  }
}

// Create voice post  //
.create-voice-post {
  .block {
    margin: 0 0 20px 0;

      img {
        width: 29px;
        height: 44px;
      }
      .recording-time {
        color: $gray;
      }
      .recording-active {
        color: $orange;
      }
      .record-button {
        background: transparent;
        padding: 0;
        clear: both;
        margin: 0 auto;
        width: 100%;
        outline: none;

        .record-action {
          position: relative;
          background: $white;
          text-align: center;
          z-index: 2;
          display: block;
          clear: both;
          margin: 0 auto;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 3px solid $gray;
        }

        .record-animation {
          content: '';
          position: absolute;
          z-index: 1;
          width: 120px;
          height: 120px;
          left: 50%;
          margin-left: -60px;
          top: 0;
          background: transparentize($blue, .3);
          border-radius: 50%;
          transform: scale(1);
          animation: record 1600ms linear infinite;

          @keyframes record {
            from {
              transform: scale(1);
              opacity: 1;
            }
            to {
              transform: scale(1.5);
              opacity: 0;
            }
          }
        }
        .svg-container {
          width:120px;
          height:120px;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -60px;
          transform: rotate(-90deg);
          z-index: 6;

          &.animate {
            .circle {
              animation: dash 120s linear forwards;
            }
          }

          .circle {
            fill: none;
            stroke: $blue;
            stroke-width: 6;
            stroke-dasharray: 750;
            stroke-dashoffset: 750;
          }

          @keyframes dash {
            to {
              stroke-dashoffset: 0;
            }
          }

        }

        img {
          width: 29px;
          height: 44px;
          position: relative;
          top: 30px;
        }

        small {
          position: absolute;
          bottom: 20px;
          color: $gray;
          font-size: 12px;
          text-transform: lowercase;
          text-align: center;
          line-height: normal;
          transform: translateX(-50%);
          left: 50%;
        }
      }
    }
  }