.page--create-post {
  @extend %absolute-view;
  color: $white;

  .create-type-picker {
    @extend %absolute-view;
    background-color: $primary-color;
    padding: $default-padding;
    margin: 0 auto;
    text-align: center;
    padding-top: 30% !important;

    .button {
      position: relative;
      color: #4990E2;
      font-weight: normal;
      display: block;
      margin: 0 auto 20px;

      &:last-child {
        margin: 0 auto;
      }

      img {
        position: relative;
        top: 3px;
        left: 5px;
      }
    }
  }

  .create-text-post {
    header {
      background: $orange;
      padding: $default-padding;
      color: $white;
      text-align: center;

      nav {
        display: flex;
        flex-direction: row;

        .info-icon {
          order: 2;
          margin-left: auto;
        }
      }

      .header-icon {
        width: 36px;
        height: auto;
        position: relative;
        top: 10px;
      }

      h2 {
        text-align: center;
      }
    }

    .inner {
      background-color: transparent;
      padding: $default-padding;
      margin: -30px 0 0;
      text-align: center;

      select,
      textarea {
        margin: 0 0 15px;
        width: 100%;
        clear: both;
        box-shadow: $box-shadow;
        color: $dark;
        border: none;
      }

      select {
        background: $white;
        padding: 8px 12px;
        border: none;
      }

      #anonymity-container {
        display: block;
        width: 100%;
        clear: both;
        text-align: left;

        input {
          margin: 5px 5px 10px 0;
        }

        small {
          display: block;
          margin: 0 0 15px;
        }
      }

      .anonymity {
        color: $dark;
      }

      #anonymity-check {
        display: inline-block;
        text-align: right;
      }

      textarea {
        height: 175px;
        border-radius: $default-radius;
        padding: 8px 12px;
        resize: none;
      }
    }
  }
}
